hr{border: none;}
a{color:rgb(0,0,0);}

/*ここから記入。これはデフォルトテーマです。*/
body{
  background-color: rgb(221,221,221);
}

header{
  background-color: rgb(47, 54, 47);
}

.header-logo{
  border: 1px solid rgb(240,240,240);
  color: rgb(240, 240, 240);
}

.header-list a{
  color: rgb(240, 240, 240);
  background-color: rgb(47, 54, 47);
  border: 1px solid rgb(27, 31, 27);
}

.header-list a:hover{
  box-shadow: 0 4px rgb(27, 31, 27);
  color: white;
}

.header-list a:active{
  box-shadow: none;
}

main{
  background-color: rgb(47, 54, 47);
}

main h1, .container-text, .main-lavel1, .main-lavel2, .main-lavel3{
  background-color: rgb(240, 240, 240);
}

/*メインタグの色分け*/
label.home:hover{background-color: rgb(211, 211, 211);}
.html-css:hover{background-color: rgb(97, 248, 210);}
.others:hover{background-color: rgb(199, 171, 155);}
/*ページタグ-------*/
.pege-lavel1, .pege-lavel2, .pege-lavel3{
  background-color: rgb(47, 54, 47);
  border: 1px solid rgb(27, 31, 27);
  color: white;
}
.pege-lavel1:hover, .pege-lavel2:hover, .pege-lavel3:hover{background-color: rgb(67, 74, 67);}
/*リンク先の色分け-*/
.pege-contents-1 a{color: white;}
.pege-contents-1 a.html-css{background-color: rgb(28, 179, 141);}.pege-contents-1 a.html-css:hover{background-color: rgb(17, 226, 198)}
.pege-contents-1 a.others{background-color: rgb(82, 62, 56);}.pege-contents-1 a.others:hover{background-color: rgb(129, 99, 89);}
/*----------------*/

.pege hr{
  border-top: 2px solid rgb(27, 31, 27);
}

.pege-contents-1{
  border-right: 2px solid rgb(27, 31, 27);
}

footer{
  background-color: rgb(47, 54, 47);
}

.profile{
  background-color: rgb(211, 211, 211);
}

.profile-img{
  border-right: 2px solid rgb(47, 54, 47);
}