body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

h1,h2,h3,p,ul,ol,li,hr{
  margin: 0;
  padding: 0;
}

span1{
  color: rgb(219, 10, 10);
}

/*--ページ切り替え関数--*/
.main-container, .pege-container, input{display: none;}
#ct1:checked  ~ #mct1 , #ct2:checked  ~ #mct2 , #ct3:checked  ~ #mct3 {display:block;}
#pg11:checked ~ #pct11, #pg12:checked ~ #pct12, #pg13:checked ~ #pct13{display:block;}
#pg21:checked ~ #pct21, #pg22:checked ~ #pct22, #pg23:checked ~ #pct23{display:block;}
/*--------------------*/

header, main, footer{
  width: 1200px;
  margin: 0 auto;
}

header{
  height: 60px;
  padding: 20px 0;
}

.header-logo{
  display: inline-block;
  line-height: 50px;
  margin-left: 30px;
  padding: 5px;
  font-size: 2.0em;
}

.header-list{
  float: right;
  padding: 10px 0;
}

.header-list a{
  display: inline-block;
  line-height: 40px;
  margin-right: 30px;
  padding: 0 10px;
}

.header-list a:hover{
  position: relative;
  top:-4px;
}

.header-list a:active{
  top: 0px;
}

main{
  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px;
}

main h1{
  padding: 20px;
  border-radius: 10px;
}

.main-container{
  width: 78%;
  margin-left: auto;
}

/*メニューバー*/
main label{position: absolute;display: block;width: 20%;cursor: pointer;}
.main-lavel1{top:20px;}.main-lavel2{top:100px;}.main-lavel3{top: 180px;}
.pege-lavel1{left:30px;}.pege-lavel2{left:70px;}.pege-lavel3{left:110px;}
.main-lavel1, .main-lavel2, .main-lavel3{
  box-sizing: border-box;
  line-height: 70px;
  padding-left: 0.5em;
  border-radius: 10px;
  font-size: 2.0em;
  transition: 0.3s;
}
.pege-lavel1, .pege-lavel2, .pege-lavel3{
  box-sizing: border-box;
  text-align: center;
  width:40px;
  line-height: 40px;
  border-radius: 5px;
}
@media(max-width:1000px){
  main label{width: 43%;}
  .main-lavel1{top:20px;}.main-lavel2{top:20px;left:53%;}.main-lavel3{top: 100px;}
  .main-lavel1, .main-lavel2, .main-lavel3{font-size: 1.5em;}
  .main-container{margin: 170px 0 0; width: 100%;}
}
@media(max-width:400px){.main-lavel1, .main-lavel2, .main-lavel3{font-size: 1.0em;}}
/*-----------*/

.container-text{
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.home p{
  text-align: center;
  font-size: 1.2em;
  line-height: 2.0em;
}

.home h2{
  text-align: center;
  margin: 20px 0;
}

/*お知らせ作るならここに*/

.url-container{
  height: 210px;
  padding: 0 20px;
}

.url-contents{
  position: relative;
  float: left;
  text-align: center;
  box-sizing: border-box;
  width: 25%;
  height: 210px;
}

.url-contents p{
  position: absolute;
  top: 170px;
  width: 100%;
  line-height: 1.0em;
  font-size: 1.0em;
}

.img-wrapper1, .img-wrapper2, .img-wrapper3, .img-wrapper4{
  box-sizing: border-box;
}

.img-wrapper1{
  padding-top: 80px;
}

.img-wrapper2{
  padding-top: 50px;
}

.url-contents img{
  width: 150px;
}

.pege{
  position: relative;
}

.pege hr{
  margin-top: 50px;
}

.pege-contents{
  height: 100px;
  margin-top: 20px;
}

.pege-contents-1,.pege-contents-2{
  float: left;
  width: 50%;
  height: 100px;
}

.pege-contents-1{
  text-align: center;
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: bold;
}

.pege-contents-1 p{
  line-height: 40px;
}

.pege-contents-1 a{
  display: inline-block;
  line-height: 40px;
  margin: 10px 0;
  padding: 0 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.pege-contents-2 p{
  padding: 10px 0 10px 10px;
}

footer{
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px;
}

.profile{
  height: 120px;
  width: 620px;
  padding: 10px 0;
}

.profile-img{
  float: left;
  box-sizing: border-box;
  width: 38%;
  height: 120px;
  padding: 0 5px 0 10px;
}

.profile-img img{
  width: 100%;
  height: 100%;
}

.profile-text{
  float: left;
  width: 62%;
  line-height: 30px;
}

.profile-text h3{
  line-height: 40px;
  padding-left: 1.0em;
}

.profile-text ul{
  margin-left: 30px;
}

@media(max-width:1200px){
  header, main, footer{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media(max-width:1000px){
  .home p{
    font-size: 1.0em;
  }

  .url-container{
    height: 420px;
  }

  .url-contents{
    width: 50%;
  }

  .url-contents img{
    width: 150px;
  }

}

@media(max-width:800px){
  .url-container{
    height: 500px;
  }

  .url-contents{
    height: 250px;
  }

}

@media(max-width:640px){
  .home p{
    text-align: left;
    font-size: 0.8em;
    line-height: 1.5em;
  }

  .url-container{
    height: 880px;
  }

  .url-contents{
    width: 100%;
    height: 220px;
  }

  .url-contents p{
    text-align: center;
    top: 150px;
  }

  .img-wrapper1{
    padding-top: 60px;
  }

  .img-wrapper2{
    padding-top: 40px;
  }

  .pege-contents-1{
    font-size: 0.8em;
  }

  .pege-contents-2{
    font-size: 0.5em;
  }

  footer{
    padding: 5%;
  }

  .profile{
    margin: 0 auto;
    height: auto;
    width: 100%;
  }

  .profile-img{
    padding: 0;
    border: none;
    float: none;
    width: 200px;
    margin: 0 auto;
  }

  .profile-text{
    float: none;
    width: 100%;
    font-size: 0.8em;
  }
}

@media(max-width:400px){
  header{
    height: auto;
  }

  .header-logo{
    margin-left: 5px;
    font-size: 1.5em;
  }

  .header-list{
    font-size: 0.5em;
  }

  .header-list a{
    margin-right: 5px;
    padding: 0 2px;
  }

  .pege-contents-1 p{
    font-size: 0.6em;
  }

  .pege-contents-1 a{
    padding: 0 5px;
  }
}

@media(max-width:300px){
  .url-contents img{
    width: 100px;
  }
  
  .profile-text span{
    font-size: 0.1em;
  }
}