.link-btn{
  width: 102px;
  height: 102px;
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_btn/sugoi_back.png) no-repeat;
  margin: 0 auto;
  margin-top: 60px;
  cursor: pointer;
  text-indent: -999em;
  border: none;
  display: block;
}
.link-home{
  text-align: center;
  margin-top: 10px;
  padding-bottom: 80px;
}