/* 初期化 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font: inherit;/*inherit:祖先要素の指定を継承する*/
  font-size: 100%;
  vertical-align: baseline; /*baseline:親要素のベースラインに揃える（初期値）*/
}

/*セクション*/
body{
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_bg/sugoi_body.png);
}
.mainsection{
  width: 100%;
  text-align: left;
  font-family: "meiryo";
  color: #4c4c4c;
}

/*トップ部分*/
.top{
  text-align: center;
}
.top .maintitle{
  padding-top: 90px;
}
.top .subtitle{
  margin-top: 43px;
  height: 30px;
}
.top .sns-btn{
  width: 160px;
  height: 65px;
  position: absolute;
  top: 30px;
  right: 30px;
  overflow: hidden;/*floatにheight要素を付与することができるが、Mac版IEやNetcapeで崩れるらしい*/
}
.top .sns-btn .tweet{
  float: left;
}
.top .sns-btn .like{
  float: right;
}
.top .sns-btn .tweet img,.top .sns-btn .like img{
  display: block;
}
.top .sns-btn .tweet img.tweet-btn,.top .sns-btn .like img.share-btn{
  cursor: pointer;
}

/*スライド部分*/
.slide{
  margin-top: 90px;
  width: 100%;
  height: 503px;
  overflow: hidden;
}
.slide ul{
  width: 8900px;
  overflow: hidden;
}
.slide li{
  float: left;
}

/*メインコンテンツ*/
.main-contents{
  width: 960px;
  margin: 0 auto;
}
.main1,.main2,.main3,.main4,.main5,.main6{
  overflow: hidden;
  padding: 40px 0;
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_item/sugoi_border.png) no-repeat;
  background-position: 0% 100%;
}

/*メイン１（グッとなってギュッとした（以下略））*/
.main1 .photo{
  float: left;
}
.main1 .title{
  margin-left: 70px;
  float: left;
}
.main1 p{
  width: 570px;
  float: left;
  margin-left: 70px;
  margin-top: 25px;
  font-size: 14px;
  line-height: 24px;
}

/*メイン２（ゴイスー、ゲースー、表激ヤバ）*/
.main2 .container{
  width: 480px;
  float: left;
  margin-top: 63px;
}
.main2 .container h3{
  height: 28.33px;
}
.main2 .container p{
  font-size: 13px;
  line-height: 22px;
  width: 450px;
  margin-top: 11px;
}

/*メイン３（甚だすごくて（以下略））*/
.main3 .photo{
  float: left;
}
.main3 .title{
  margin-left: 70px;
  float: left;
}
.main3 p{
  width: 570px;
  float: left;
  margin-left: 70px;
  margin-top: 22px;
  font-size: 14px;
  line-height: 24px;
}

/*メイン４（すごいリスト）*/
.main4 .side-container,.main4 .center-container{
  width: 300px;
  float: left;
}
.main4 .center-container{
  margin: 0 30px;
}
.main4 h3{
  margin-top: 35px;
}
.main4 p{
  font-size: 13px;
  line-height: 22px;
  width: 280px;
  margin-top: 11px;
}

/*メイン５（MAP、文章・名言・言葉遊び、羅列）*/
.main5 .wrapper1{
  width: 900px;
  padding: 50px 30px;
  overflow: hidden;
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_bg/sugoi_description.png);
}
.main5 .wrapper1 .side-container ,.main5 .wrapper1 .center-container{
  width: 280px;
  float: left;
}
.main5 .wrapper1 .center-container{
  margin: 0 30px;
}
.main5 .wrapper1 p{
  color: #ebebeb;
  font-size: 13px;
  line-height: 22px;
  width: 280px;
  margin-top: 11px;
}
.main5 .wrapper2{
  margin-top: 40px;
  overflow: hidden;
}
.main5 .container{
  float: left;
  width: 440px;
}
.main5 .wrapper2 .photo{
  float: left;
}
.main5 .wrapper2 h4{
  float: left;
  margin-left: 20px;
}
.main5 .wrapper2 p{
  width: 250px;
  float: left;
  margin-left: 20px;
  font-size: 12px;
  line-height: 22px;
  margin-top: 5px;
}

/*メイン６（著しいもののリスト）*/
.main6 .side-container,.main6 .center-container{
  width: 300px;
  float: left;
  margin-top: 20px;
}
.main6 .center-container{
  margin-left: 30px;
  margin-right: 30px;
}
.main6 h3{
  margin-top: 35px;
}
.main6 p{
  width: 285px;
  margin-top: 11px;
  font-size: 13px;
  line-height: 22px;
}

/*ムービー*/
.movie{
  width: 640px;
  height: 460px;
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
}
.movie .movie-btn{
  cursor: pointer;
  text-indent: -999em;
  border: none;
  width: 63px;
  height: 64px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -32px;
  top: 50%;
  margin-top: -32px;
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_btn/sugoi_play.png) no-repeat;
  background-position: 0 0;
}

/*フッター*/
.footer-contents{
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_bg/sugoi_footer.png);
}
.footer1{
  width: 960px;
  margin: 0 auto;
  padding: 45px 0 40px 0;
  overflow: hidden;
}
.footer1 .container{
  float: left;
  width: 240px;
}
.footer1 .container h5{
  margin-bottom: 25px;
  height: 16px;
}
.footer1 .container p{
  line-height: 22px;
}
.footer1 .container a{
  font-size: 13px;
  line-height: 22px;
  text-decoration: none;
  color: #4c4c4c;
}
.footer1 .profile{
  float: left;
}
.footer1 .profile img{
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer2{
  text-align: center;
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_bg/sugoi_copyright.png);
  padding: 20px 0;
  height:20px;
}