/*初期化*/
body,
h1,h2,h3,h4,h5,h6,p,
ul,ol,li,
section,div,span,
img{
  margin: 0;
  padding: 0;
  border: 0;
}
li{
  list-style: none;
}

/*セクション*/
body{
  text-align: left;
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_bg/sugoi_body.png);
}
.mainsection{
  width: 100%;
  font-family: "meiryo";
  color: #4c4c4c;
}

/*トップ部分*/
.top{
  text-align: center;
}
.top .maintitle{
  padding-top: 90px;
}
.top .subtitle{
  margin-top: 40px;
}
.top .sns-btn{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 170px;
}
.top .sns-btn .tweet,.top .sns-btn .like{
  display: inline-block;
}
.top .sns-btn .tweet{
  margin-right:10px; 
}
.top .sns-btn .tweet img,.top .sns-btn .like img{
  display: block;
}
.top .sns-btn .tweet img.tweet-btn,.top .sns-btn .like img.share-btn{
  cursor: pointer;
}

/*スライド部分*/
.slide{
  margin-top: 90px;
  width: 100%;
  overflow: hidden;
}
.slide ul{
  width: 8900px;
  overflow: hidden;
}
.slide li{
  float: left;
}

/*メインコンテンツ*/
.main-contents{
  width: 960px;
  margin: 0 auto;
}
.main1,.main2,.main3,.main4,.main5,.main6{
  text-align: center;
  padding: 40px 0;
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_item/sugoi_border.png) no-repeat;
  background-position: 0% 100%;
}

/*メイン１（グッとなってギュッとした（以下略））*/
.main1 .photo{
  display: inline-block;
  width: 33%;
}
.main1 .container{
  display: inline-block;
  box-sizing: border-box;
  padding-left: 70px;
  width: 66%;
}
.main1 .title{
  text-align: left;
  width: 100%;
}
.main1 p{
  text-align: left;
  width: 100%;
  margin-top: 25px;
  font-size: 14px;
  line-height: 24px;
}

/*メイン２（ゴイスー、ゲースー、表激ヤバ）*/
.main2 .container{
  display: inline-block;
  box-sizing: border-box;
  width: 49%;
  margin-top: 60px;
}
.main2 .container h3{
  text-align: left;
}
.main2 .container p{
  text-align: left;
  font-size: 13px;
  line-height: 22px;
  width: 450px;
  margin-top: 11px;
}

/*メイン３（甚だすごくて（以下略））*/
.main3 .photo{
  display: inline-block;
  width: 33%;
  margin: 0 0 auto;
}
.main3 .container{
  display: inline-block;
  box-sizing: border-box;
  padding-left: 70px;
  width: 66%;
}
.main3 .title{
  text-align: left;
  width: 100%;
}
.main3 p{
  text-align: left;
  width: 100%;
  margin-top: 25px;
  font-size: 14px;
  line-height: 24px;
}

/*メイン４（すごいリスト）*/
.main4 .side-container,.main4 .center-container{
  display: inline-block;
  width: 30%;
}
.main4 .center-container{
  margin: 0 4%;
}
.main4 .photo img{
  width: 100%;
}
.main4 h3{
  text-align: left;
  margin-top: 35px;
}
.main4 p{
  text-align: left;
  font-size: 13px;
  line-height: 22px;
  width: 280px;
  margin-top: 11px;
}

/*メイン５（MAP、文章・名言・言葉遊び、羅列）*/
.main5 .wrapper1{
  box-sizing: border-box;
  width: 960px;
  padding: 50px 30px;
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_bg/sugoi_description.png);
}
.main5 .wrapper1 .side-container ,.main5 .wrapper1 .center-container{
  display: inline-block;
  width: 30%;
}
.main5 .wrapper1 .center-container{
  margin: 0 4%;
}
.main5 .wrapper1 h3{
  text-align: left;
}
.main5 .wrapper1 p{
  text-align: left;
  color: #ebebeb;
  font-size: 13px;
  line-height: 22px;
  width: 280px;
  margin-top: 10px;
}
.main5 .wrapper2{
  margin-top: 40px;
  text-align: left;
}
.main5 .wrapper2 .contents{
  display: inline-block;
  width: 49%;
}
.main5 .wrapper2 .contents .photo{
  display: inline-block;
  width: 30%;
}
.main5 .wrapper2 .contents .container{
  display: inline-block;
  box-sizing: border-box;
  width: 65%;
  padding-left: 20px;
}
.main5 .wrapper2 h4{
  text-align: left;
}
.main5 .wrapper2 p{
  text-align: left;
  width: 90%;
  font-size: 12px;
  line-height: 22px;
  margin-top: 5px;
}

/*メイン６（著しいもののリスト）*/
.main6 .side-container,.main6 .center-container{
  width: 30%;
  display: inline-block;
  margin-top: 20px;
}
.main6 .center-container{
  margin: 20px 4% 0;
}
.main6 .photo img{
  width: 100%;
}
.main6 h3{
  margin-top: 35px;
  text-align: left;
}
.main6 p{
  text-align: left;
  width: 280px;
  margin-top: 11px;
  font-size: 13px;
  line-height: 22px;
}

/*ムービー*/
.movie{
  width: 640px;
  height: 460px;
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
}
.movie .movie-btn{
  cursor: pointer;
  border: none;
  width: 70px;
  height: 64px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 50%;
  margin-top: -35px;
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_btn/sugoi_play.png) no-repeat;
  background-position: 0 0;
}

/*フッター*/
.footer-contents{
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_bg/sugoi_footer.png);
}
.footer1{
  width: 960px;
  margin: 0 auto;
  padding: 45px 0 40px 0;
  overflow: hidden;
}
.footer1 .container{
  float: left;
  width: 240px;
}
.footer1 .container h5{
  margin-bottom: 25px;
  height: 16px;
}
.footer1 .container p{
  line-height: 22px;
}
.footer1 .container span{
  font-size: 13px;
  line-height: 22px;
  text-decoration: none;
  color: #4c4c4c;
  cursor: pointer;
}
.footer1 .profile{
  float: left;
}
.footer1 .profile img{
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer2{
  text-align: center;
  background: url(http://sugoiweb.nezihiko.com/sugoi_img/sugoi_bg/sugoi_copyright.png);
  padding: 20px 0;
  height:16px;
}