body{
    background-color: aliceblue;
}
.header-home,.footer-home{
    color: white;
    background-color: #2f362f;
    border: 1px solid white;
    font-size: 16px;
    width: 86px;
    height: 26px;
    padding: 5px;
}

/*header*/
.header{
    background-color: darkslateblue;
    margin-bottom: 20px;
    padding: 20px 40px;
    color: #fff;
}
.header-logo{
    float: left;
    font-size: 40px;
}
.header-text{
    float: left;
    padding-top: 25px;
    margin-left: 50px;
}
.header-home{
    margin-left: 1150px;
}

/*menu*/
.menu{
    float: right;
    width: 200px;
    background-color: #fff;
    border: 2px solid lightskyblue;
}
.menu-title{
    font-size: 18px;
    padding: 5px;
}
.menu-list div{
    list-style: none;
    border-top: 2px solid lightskyblue;
    font-size: 26px;
    padding: 20px 10px;
}

/*main*/
.main{
    margin-right: 230px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid lightskyblue;
}
.main-title{
    font-size: 40px;
    padding-left: 20px;
    border-bottom: 3px solid lightskyblue;
}
.main-list{
    background-color: lightgray;
}
.main-list img{
    padding: 5px;
}
.main-next{
    padding-top: 10px;
    padding-left: 600px;
}
.main-coment{
    margin: 10px;
    border: 2px solid gray;
    padding: 10px;
}
.main-coment h4{
    font-size: 24px;
    margin: 10px 0px;
    padding-right: 10px;
    border-bottom: 2px solid gray;
}
.main-coment input,textarea{
    font-size: 16px;
    width: 400px;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid gray;
}
.main-coment textarea{
    height: 120px;
}
.main-coment-submit{
    background-color: #55f;
}

/*footer*/
.footer{
    margin-top: 20px;
    background-color: darkslateblue;
    height: 50px;
    color: #fff;
    padding: 30px;
}
.footer-logo{
    float: right;
    font-size: 30px;
}
.footer-home{

}