body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

a{
	text-decoration: none;
}

h1,h2,h3,p,ul,ol,li{
	margin: 0;
	padding: 0;
}

header{
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100px;
	background-color: rgb(70,60,60);
}

.header-wrapper{
	width: 1100px;
	height: 60px;
	margin: 0 auto;
	padding: 20px 0;
}

.header-logo{
	display: inline;
	color: white;
	line-height: 60px;
	font-size: 3.0em;
}

.header-menu{
	float: right;
}

.header-menu a{
	display: inline-block;
	line-height: 30px;
	margin: 0 50px;
	padding: 15px;
	background-color: rgb(100,90,90);
	border-radius: 6px;
	color: white;
	font-size: 1.5em;
	opacity: 0.9;
}

.header-menu a:hover{
	opacity: 1;
}

.header-menu i{
	margin-right: 5px;
}

main{
	padding: 100px 0 10px;
	background-color: rgb(217,229,241);
}

.main-wrapper{
	width: 1100px;
	margin: 0 auto;
}

.main-logo{
	line-height: 110px;
	padding: 20px 100px;
	background-color: rgb(90,200,230);
	border: 3px solid rgb(25,133,163);
	color:white;
	font-size: 4.0em;
}

.main-picture{
	text-align: center;
	width: 1100px;
	height: 550px;
	background-image: url(http://selectaus.com/wp-content/uploads/2017/07/minecraft-top1.jpg);
	background-size: 100% 100%;
	color: rgba(0,0,0,0.8);
}

.main-picture h1{
	font-size: 4.0em;
	letter-spacing: 0.2em;
}

.main-picture h2{
	font-size: 2.0em;
	font-weight: normal;
}

.main-container{
	text-align: center;
	margin-top: 10px;
	padding: 20px;
	background-color: rgb(240,248,255);
	border: 3px solid rgb(90,200,230);
	border-radius: 5px;
}

.main-container h3{
	margin: 20px 0;
	font-weight: normal;
}

.main-contents{
	height: 310px;
}

.contents-list{
	float: left;
	text-align: center;
	width: 20%;
}

.contents-list p{
	width: 80%;
	margin: 20px auto;
	font-size: 0.8em;
}

.contents-icon{
	position: relative;
}

.contents-icon a{
	opacity: 0.8;
	transition: 0.5s;
}

.contents-icon a:hover{
	opacity: 1.0;
}

.contents-icon img{
	width: 80%;
}

.contents-icon p{
	position: absolute;
	top: 40%;
	left: 10%;
	width: 80%;
	margin: 0 auto;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

.main-register span{
	display: inline-block;
	margin: 0 20px;
	padding: 10px 20px;
	color: white;
	border-radius: 4px;
	opacity: 0.8;
	transition: 0.5s;
	cursor: pointer;
}

.main-register span:hover{
	opacity: 1;
	transition: 0s;
}

.main-register span:active{
	position: relative;
	top: 3px;
	box-shadow: none;
}

.main-register i{
	margin-right: 5px;
}

.mail{
	background-color: rgb(255,71,71);
	box-shadow: 0 3px rgb(195,41,41);
}

.facebook{
	background-color: rgb(59,89,152);
	box-shadow: 0 3px rgb(39,59,102);
}

.twitter{
	background-color: rgb(85,172,238);
	box-shadow: 0 3px rgb(55,142,188);
}

footer{
	height: 150px;
	background-color: rgb(40,40,40);
	color: white;
}

.footer-wrapper{
	position: relative;
	width: 1100px;
	margin: 0 auto;
	padding-top: 10px;
}

.footer-list{
	line-height: 50px;
}

.footer-list p,.footer-list i{
	display: inline;
	float: left;
	margin-right: 60px;
}

.footer-list p{
	font-size: 40px;
}

.footer-list i{
	cursor: pointer;
}

.footer-logo{
	position: absolute;
	right: 5px;
	top: 80px;
	font-size: 3.0em;
}