body{
    font-family: arial;
    margin: 0;
    background-color: rgb(220,220,220);
}
a{
    text-decoration: none;
}

header{
    width: 100%;
    color: rgb(220,220,220);
    margin: 0;
    background-color: rgb(180, 97, 29);
}
.header-logo{
    height: 20px;
    width: 100%;
    background-color: rgb(20,20,20);
    font-weight: bold;
    padding: 5px 10px;
    position: fixed;
    z-index: 10;
}
.header-logo a{
    color: rgb(220,220,220);
    transition: 0.5s;
}
.header-logo a:hover{
    color: white;
}
.header-list{
    padding-top: 25px;
    height: 100px;
    background-color: rgb(255, 131, 30);
}
.header-list li{
    float: left;
    list-style: none;
    width: 25%;
    margin: 0;
    padding: 0;
}
.header-list a{
    color: rgb(220,220,220);
    display: inline-block;
    line-height: 100px;
    width: 100%;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 1.0em;
    text-align: center;
    box-shadow: 0px 4px rgb(180, 97, 29);
    border-right: 2px solid rgb(20,20,20);
}
.header-list a:hover{
    color: white;
    background-color: rgb(255, 174, 23);
    box-shadow: 0px 4px rgb(177, 117, 6);
    border-left: 2px solid rgb(20,20,20);
}
.header-list a:active{
    box-shadow: none;
    position: relative;
    top: 4px;
}
.header-list li:hover{
    background-color: rgb(255, 174, 23);
}
.menu{
    margin-top: 40px;
    width: 200px;
    background-color:whitesmoke;
    border: 5px solid rgb(255, 131, 30);
    border-left: none;
    border-radius: 10px;
    color: rgb(20, 20, 26);
    padding: 0 1%;
    position: fixed;
    top: 130px;
    z-index: 10;
}
.menu h3{
    margin: 20px 0 10px 10%;
    cursor: default;
}
.menu li{
    border-top: 2px solid rgb(255, 131, 30);
    list-style: none;
    line-height: 60px;
    padding-left: 5%;
    transition: 0.5s; 
}
.menu a{
    color:rgb(20, 20, 26);
}
.menu li:hover{
    background-color: rgb(255, 174, 23);
    transition: 0.8s;
}
.menu li:active{
    background-color: rgb(255, 205, 112);
    transition: 0s;
}
.back1{
    background-image: url("../../Images/picture/pi-b-a_005.jpg");
    background-size: 100% 100%;
    height: 750px;
    margin-top: 4px;
    position: relative;
}
.back2{
    background-image: url("../../Images/picture/pi-b-a_006.jpg");
    background-size: 100% 100%;
    height: 750px;
    position: relative;
}

main{
    position: absolute;
    top: 50px;
    left: 250px;
    right:2%;
    color: rgb(20,20,20);
}
.contents{
    margin: 0% 2%;
    height: 600px;
    background-color: rgba(235,235,235,0.4);
}
.contents h1{
    margin: 30px;
    padding: 0;
    letter-spacing: 0.2em;
    font-size: 5.0em;
    line-height: 1.5em;
}
.contents h2{
    text-align: center;
    margin: 30px;
    padding: 30px 0;
    letter-spacing: 0.2em;
    font-size: 3.0em;
    line-height: 1.5em;
}
.contents li{
    float: left;
    list-style: none;
    width: 33.3%;
    text-align: center;
}
.contents a{
    color: rgb(20,20,20);
    transition: 0.5s;
}
.contents a:hover{
    color: rgb(40,40,40);
}
.contents i{
    margin-bottom: 20px;
}
.botan{
    text-align: center;
    font-size: 1.5em;
}
.botan span{
    display: inline-block;
    margin-top: 40px;
    padding: 10px 30px;
    background-color: rgb(255, 131, 30);
    border-radius: 10px;
    box-shadow: 0 5px rgb(180, 97, 29);
    transition: 0.5s;
    cursor: pointer;
}
.botan span:hover{
    background-color: rgb(255, 174, 23);
    box-shadow: 0 5px rgb(177, 117, 6);
    transition: 0s;
}
.botan span:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}

footer{
    height: 120px;
    background-color:rgb(255, 131, 30);
    border-top: 6px solid rgb(255, 174, 23);
    color: rgb(20,20,20);
    padding-left: 30px;
}
.footer-logo{
    font-size:3.0em;
    font-weight: 700;
    line-height: 80px;
}
.footer-text{
    line-height: 40px;
}