/*html*/
body{
    background-color: #ddd;
    font-family: "Avenir Next";
}

/*header*/
.header{
    background-color: #2f362f;
    color: #f0f0f0;
    height: 80px;
}
.header a{
    color: #f0f0f0;
}
.header-logo{
    float: left;
    font-size: 40px;
    padding: 5px 10px;
    margin: 10px 30px;
    border: 1px solid #ddd;
}
.header-list li{
    list-style: none;
    float: left;
    font-size: 30px;
    padding: 30px;
    color: #f0f0f0;
}
.version{
    margin-left: 1250px;
    padding-top: 60px;
}

/*main*/
.main-background{
    margin: 20px;
    padding: 10px;
    background-color: #2f362f;
}
.main-title h1{
    font-size: 40px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
}
.main-text{
    padding: 5px;
    background-color: #f0f0f0; 
}
.main-list{
    padding: 10px;
    margin: 20px;
    border: 5px solid #444;
    background-color: lightgray;
    height: 300px;
}
.main-list-title{
    border-bottom: 3px solid #444;
}
.icon{
    margin-right:5px;
}

/*footer*/
.footer{
    background-color: #2f362f;
    color: #f0f0f0;
    height: 180px;
    padding:10px;
}
.footer-logo{
    font-size: 40px;
    padding: 10px;
    margin: 10px 20px;
}
.footer-profile{
    float: left;
    width: 550px;
    padding: 20px;
    margin: 10px;
    background-color: #ddd;
    color: #000;
}
.footer-profile img{
    float: left;
    padding-right: 10px;
    border-right: 1px solid #2f362f;
    margin-right: 10px;
}
.footer-profile div{
    margin: 10px;
}
.footer-profile li{
    list-style:  none;
}
.footer-list li{
    list-style: none;
    float: left;
    padding-left: 40px;
}