body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color: rgb(10, 80, 170);
  text-decoration: none;
}

h1,h2,h3,p,ul,ol,li{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(50,50,60);
}

header{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 60px;
}

.header-top{
  width: 1100px;
  height: 60px;
  margin: 0 auto;
  background-color: rgba(20,20,20,1);
}

.header-logo{
  display: inline;
  line-height: 60px;
  margin: 0 20px;
  color: white;
  font-size: 2.0em;
}

.header-list{
  float: right;
  padding: 10px 0;
}

.header-list a{
  display: inline-block;
  line-height: 40px;
  margin: 0 20px;
  padding: 0 10px;
  color: white;
  border-radius: 2px;
  transition: 0.2s;
}

.header-list a:hover{
  background-color: rgb(50,50,60);
}

main{
  width: 100%;
  padding-top: 60px;
}

.main-wrapper{
  width: 1100px;
  margin: 0 auto;
}

.side-menu{
  position: fixed;
  z-index: 10;
  top: 20%;
  width: 180px;
  padding: 5px;
  background-color: whitesmoke;
  border: 6px solid rgb(255,130,30);
  border-radius: 8px;
}

.sm-top{
  border-top: 1px solid rgb(255,130,30);
  font-size: 1.5em;
  font-weight: bold;
}

.side-menu a{
  display: block;
  line-height: 50px;
  padding-left: 5px;
  border-bottom: 1px solid rgb(255,130,30);
  color: rgb(20,20,20);
  transition: 0.2s;
}

.side-menu a:hover{
  background-color: rgb(255, 174, 23);
}

.main-contents{
  text-align: center;
  margin-left: 20%;
}

.top-menu{
  height: 144px;
}

.top-menu a{
  float: left;
  box-sizing: border-box;
  display: block;
  width: 25%;
  line-height: 140px;
  background-color: rgb(255,130,30);
  border: 2px solid rgb(180,90,30);
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 0.9;
}

.top-menu a:hover{
  opacity: 1.0;
}

.top-menu span{
  letter-spacing: 0.3em;
}

.home-text{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
}

.home1{
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  padding: 20px;
  background-image: url("../../Images/picture/pi-b-a_005.jpg");
  background-size: 100% 100%;
}

.home1 h1{
  line-height: 140px;
  font-size: 4.5em;
  letter-spacing: 0.2em;
}

.home1 a{
  display: block;
  width: 40%;
  line-height: 80px;
  margin: 50px auto;
  background-color: rgb(255,130,30);
  border-radius: 8px;
  color: white;
  font-size: 2.0em;
  opacity: 0.8;
}

.home1 a:hover{
  opacity: 1.0;
}

.home2{
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  padding: 20px;
  background-image: url("../../Images/picture/pi-b-a_006.jpg");
  background-size: 100% 100%;
}

.home2 h2{
  line-height: 80px;
  font-size: 3.0em;
  font-weight: normal;
}

.home2-container{
  height: 120px;
  margin-top: 20px;
}

.home2-list{
  float: left;
  width: 33%;
}

.home2-list a{
  color: black;
  opacity: 0.7;
  transition: 0.2s;
}

.home2-list a:hover{
  opacity: 1.0;
}

.home2-list p{
  margin-top: 10px;
}

.home2 span{
  display: block;
  box-sizing: border-box;
  width: 40%;
  line-height: 80px;
  margin: 40px auto 0;
  background-color: rgb(255,130,30);
  border: 2px solid rgb(180,90,30);
  box-shadow: 0 4px rgb(180,90,30);
  border-radius: 8px;
  color: white;
  font-size: 2.0em;
  opacity: 0.8;
  cursor: pointer;
}

.home2 span:hover{
  opacity: 1.0;
}

.home2 span:active{
  position: relative;
  top: 4px;
  box-shadow: none;
}

footer{
  text-align: left;
  height: 150px;
  background-color: rgb(255,130,30);
  border:4px solid rgb(180,90,30);
}

footer h2{
  line-height: 100px;
  margin-left: 30px;
  color: white;
  font-size: 2.5em;
  font-weight: normal;
}