body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240,248,255);
}

a{
    text-decoration: none;
}

header{
    height: 80px;
    background-color: rgb(72,61,139);
    color: rgb(255,255,255);
}

.header-logo{
    float: left;
    font-size: 40px;
    padding: 20px 40px;
}

.header-text{
    padding-top: 44px;
}

.main-menu{
    margin: 20px 0;
}

.mm-title{
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(135,206,250);
    border-bottom: none;
}

.mm-list div{
    float: left;
    padding: 10px;
    font-size: 26px;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(135,206,250);
    border-right: none;
}

.mm-list hr{
    margin: 0;
    height: 63px;
    border: none;
    border-left: 2px solid rgb(135,206,250);
}

.mm-list a{
    color: rgb(0,0,0);
}

main{
    padding: 20px;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(135,206,250);
}

main h1{
    margin: 0;
    padding: 0 0 15px 20px;
    height: 40px;
    font-size: 40px;
    border-bottom: 3px solid rgb(135,206,250);
}

main p{
    margin: 15px 0;
}

.pic-list{
    background-color: rgb(211,211,211);
}

.pic-list img{
    padding: 10px 40px 10px 10px;
    width: 300px;
    height: 200px;
}

.pic-list a{
    display: inline-block;
    margin-left: 900px;
    color: rgb(0,0,0);
}

.contact-form{
    margin: 20px 10px 0;
    padding: 10px;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(128,128,128);
}

.contact-form h3{
    margin: 0;
    padding: 0 0 10px 0;
    height: 24px;
    font-size: 24px;
    border-bottom: 2px solid rgb(128,128,128);
}

.contact-form div{
    margin-top: 10px;
}

input, textarea{
    width: 400px;
    padding: 5px;
}

textarea{
    height: 90px;
}

.frame{
    border: 2px solid rgb(128,128,128);
}

.submit{
    background-color: rgb(128,128,128);
    color: rgb(255,255,255);
    border: none;
}

footer{
    margin-top: 20px;
    padding: 40px;
    height: 100px;
    background-color: rgb(72,61,139);
}

.footer-list div{
    float: left;
    padding-right: 40px;
}

.footer-list a,.footer-logo{
    color: rgb(255,255,255);
}

.footer-logo{
    float: right;
    position: relative;
    top: -20px;
    font-size: 40px;
}