/*html*/
header{
    font-family: 'arial';
    background-color: rgb(70, 60, 60);
    height: 50px;
    padding:0 40px;
    width: 100%;
    margin: 0;
    position:fixed;
    top:0;
    z-index:10;
}
header a{
    color: white;
    text-decoration: none;
}
.header-logo{
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 50px;
    float: left;
    cursor: default;
}
.header-back{
    color: #fff;
    font-size: 1.0em;
    float: right;
    margin-top: 10px;
    margin-right: 10%;
    line-height: 30px;
    padding: 0px 0.5em;
    border-radius: 6px;
    background-color: rgba(100, 90, 90, 0.6);
    transition: 0.5s;
}
.header-back:hover{
    background-color: rgba(100, 90, 90, 1.0);
}

/**/
.icon{
    margin-right:5px;
}

body{
    margin: 0;
    font-family: 'arial';
}
a{
    text-decoration: none;
}

/*main*/
main{
    margin-top: 50px;
    padding: 0 10% 30px 10%;
    background-color: rgb(217, 229, 241);
}

/*top*/
.top{
    height: 50px;
    background-color: rgb(90, 200, 230);
    padding: 20px 50px;
    border: 3px solid rgba(0,0,0,0.2);
}
.top-logo{
    font-size: 3.0em;
    color: rgb(250, 250, 255);
    font-weight: bold;
    cursor: default;
}

/*contents1*/
.contents1{
    background-image: url(http://selectaus.com/wp-content/uploads/2017/07/minecraft-top1.jpg);
    padding: 0 0 300px 0;
    text-align: center;
    color: rgba(0,0,0,0.8);
    cursor: default;
    background-size: 100% 100%;
}
.contents1 h1{
    font-size: 4.0em;
    margin: 0;
}
.contents1 p{
    font-size: 2.0em;
    margin: 0px;
    font-weight: bold;
}

/*contents2*/
.contents2{
    margin-top: 10px;
    background-color: aliceblue;
    border-radius: 6px;
    border: 3px solid rgb(90, 200, 230);
    padding: 0px 20px 20px 20px;
}
.contents2 p{
    line-height: 1.5em;
    text-align: center;
}
.contents2-container{
    height: 300px;
}
.contents2-list{
    float: left;
    width: 20%;
    text-align: center;
}
.contents2-list img{
    width: 70%;
    opacity: 0.7;
    transition: 1s;
}
.contents2-list img:hover{
    opacity: 1;
}
.contents2-list-icon{
    position: relative;
    cursor: pointer;
}
.contents2-list-icon p{
    position: absolute;
    line-height: 0;
    top:40%;
    width:100%;
    color: white;
    font-weight: bold;
}
.contents2-list-text{
    width:80%;
    display:inline-block;
    margin-top:20px;
    font-size:0.8em;
    color:#3d373f;
}
.botan-list{
    text-align: center;
}
.botan{
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius:4px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0,0,0,0.2);
}
.botan:hover{
    opacity:1;
}
.botan:active{
    box-shadow: none;
    position: relative;
    top: 4px;
}
.meado{
    background-color: rgb(255, 71, 71);
    margin-right: 10px;
}
.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}
.twitter {
    background-color: #55acee;
}
.fa{
    cursor: pointer;
    margin: 0;
}
.icon{
    margin-right:5px;
}

/*footer*/
footer{
    padding: 0 10%;
    background-color: rgb(217, 229, 241);
}
.footer-background{
    padding:20px;
    background-color: rgb(40,40,40);
    color: white;
    border: 3px solid rgba(0,0,0,0.2);
}
footer p{
    line-height: 1.0em;
    font-size: 2.0em;
    margin: 0; 
    text-align: center;
    letter-spacing: 10px;
}
.footer-icon{
    margin-top: 20px;
    text-align: center;
    letter-spacing: 45px;
}
.footer-logo{
    font-size: 2.0em;
    line-height: 3.0em;
    text-align: right;
}
.footer-text{
    text-align: right;
}