/*デフォルトテーマ*/
.hara{
    background-color: rgb(221,221,221);
}
header{
    background-color: #2f362f;
    color: #f0f0f0;
}
.header-logo{
    border: 1px solid #f0f0f0;
}
.header-list a{
    color: #f0f0f0;
    background-color: #2f362f;
    border: 1px solid #1b1f1b;
}
.header-list a:hover{
    box-shadow: 0 4px #1b1f1b;
    color: white;
}
.header-list a:active{
    box-shadow: none;
}
.header-list a:not(.btn), .header-list a:link:not(.btn) {
    color: #f0f0f0;
    text-decoration: none;
}
.header-list a:visited:not(.btn) {
    color: #f0f0f0;
    text-decoration: none;
}
.header-bars {
    color: rgb(20,20,20);
}

main{
    background-color: #2f362f;
    color: rgb(20,20,20)
}
.back{
    background-color: #f0f0f0;
}
/*home*/
.inf-list{
    border: 5px solid rgb(64, 64, 64);
    background-color: lightgrey;
}
.inf-list h2{
    border-bottom: 5px solid rgb(64, 64, 64);
}
/*menu*/
.pege{
    background-color: lightgray;
    border: 1px solid rgb(64, 64, 64);
    box-shadow: 0 2px rgb(64, 64, 64);
}
.pege:active{
    position: relative;
    top: 2px;
    box-shadow: none;
}
.menu hr{
    border-top: 5px solid rgb(64, 64, 64);
}

footer{
    background-color: #2f362f;
}
.footer-profile{
    background-color: #f0f0f0;
    color: rgb(20,20,20);
}
.footer-profile img{
    border-right: 1px solid #2f362f;
}
