main{
    height: 1150px;
}
li{
    list-style: none;
}
.menu{
    position: relative;
}
.menu input{
    display: none;
}
.menu label{
    display: inline-block;
    margin-bottom: 5px;
    width: 25%;
    border-radius: 10px;
    cursor: pointer;
}
.html-css :hover{
    background-color: aquamarine;
}
.others :hover{
    background-color: darkgray;
}
.menu li{
    border-radius: 10px;
    padding-left: 20px;
    line-height: 60px;
    list-style: none;
    font-size: 2.0em;
}
.no-choice{
    position: absolute;
    top: -20px;
    z-index: 0;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30%;
    width: 70%;
    height: 1000px;
}
.menu-contents{
    position: absolute;
    top: -20px;
    z-index: 10;
    display: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30%;
    padding: 10px 0;
    width: 70%;
    height: 1000px;
    text-align: center;
}
.menu-contents label{
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
}
#ms1:checked ~ #mc1{
    display: block;
    list-style: none;
}
#ms2:checked ~ #mc2{
    display: block;
    list-style: none;
}
.pege-contents1{
    display: none;
}
#cs11:checked ~ #pc11{
    display: block;
    list-style: none;
}
#cs12:checked ~ #pc12{
    display: block;
    list-style: none;
}
.menu hr{
    z-index: 10;
    display: block;
    width: 95%;
    margin: 5px 0;
    margin: 0 auto;
}
.pege-contents1 li{
    height: 130px;
    margin: 20px 0;
}
.contents11{
    box-sizing: border-box;
    width: 35%;
    float: left;
    border-right: 2px solid rgb(20,20,20);
}
.contents11 p{
    line-height: 40px;
}
.contents11 a{
    display: inline-block;
    line-height: 40px;
    width: 160px;
    border-radius: 5px;
    color: lightgray;
    background-color: mediumaquamarine;
    box-shadow: 0 3px darkseagreen;
    text-decoration: none;
}
.contents11 a:hover{
    color: white;
    background-color: aquamarine;
    box-shadow: 0 3px mediumaquamarine;
    text-decoration: none;
}
.contents11 a:active{
    position: relative;
    top: 3px;
    box-shadow: none;
}
.contents11 a:not(.btn), .contents11 a:link:not(.btn), .contents11 a:visited:not(.btn){
    color: white;
    text-decoration: none;
}
.contents12{
    box-sizing: border-box;
    width: 65%;
    float: left;
}
.contents12 div{
    text-align: left;
    margin: 10px;
    font-size: 18px;
    line-height: 22px;
}
.pege-contents2{
    display: none;
}
#cs21:checked ~ #pc21{
    display: block;
    list-style: none;
}
#cs22:checked ~ #pc22{
    display: block;
    list-style: none;
}
.pege-contents2 li{
    height: 130px;
    margin: 20px 0;
}
.contents21{
    box-sizing: border-box;
    width: 35%;
    float: left;
    border-right: 2px solid rgb(20,20,20);
}
.contents21 p{
    line-height: 40px;
}
.contents21 a{
    display: inline-block;
    line-height: 40px;
    width: 160px;
    border-radius: 5px;
    color: lightgray;
    background-color: gray;
    box-shadow: 0 3px rgb(100,100,100);
    text-decoration: none;
}
.contents21 a:hover{
    color: white;
    background-color: darkgray;
    box-shadow: 0 3px gray;
    text-decoration: none;
}
.contents21 a:active{
    position: relative;
    top: 3px;
    box-shadow: none;
}
.contents21 a:not(.btn), .contents21 a:link:not(.btn), .contents21 a:visited:not(.btn){
    color: white;
    text-decoration: none;
}
.contents22{
    box-sizing: border-box;
    width: 65%;
    float: left;
}
.contents22 div{
    text-align: left;
    margin: 10px;
    font-size: 18px;
    line-height: 22px;
}

@media(max-width: 1000px){
    .html-css ,.others{
        font-size:0.8em;
    }
    .contents11, .contents21{
        font-size: 0.8em;
    }
    .contents12 div, .contents22 div{
        font-size: 0.6em;
    }
    .contents11 a, .contents21 a{
        width: 90%;
    }
}

@media(max-width: 670px){
    main{
        height: 1190px;
        margin-top: 40px;
    }
    .menu label{
        width: 48%;
    }
    .html-css ,.others{
        font-size:0.6em;
    }
    .no-choice{
        position: absolute;
        top: 60px;
        z-index: 0;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        height: 1000px;
    }
    .menu-contents{
        position: absolute;
        top: 60px;
        display: none;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 0;
        padding: 10px 0;
        width: 100%;
        height: 1000px;
        text-align: center;
    }
    .menu-contents label{
        width: 40px;
        line-height: 40px;
    }
    .contents11, .contents21{
        font-size: 0.6em;
    }
    .contents12, .contents22{
        font-size: 0.8em;
    }
}

@media(max-width: 400px){
    .contents11, .contents21{
        font-size: 0.5em;
    }
    .contents12, .contents22{
        font-size: 0.7em;
    }
}