.karada{
    font-family: arial;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1300px;
}
span1{
    color: rgb(219, 10, 10);
}

header{
    height: 100px;
}
header a{
    text-decoration: none;
}
.header-logo{
    float: left;
    font-size: 40px;
    padding: 0 10px;
    line-height: 60px;
    margin: 20px 3%;
    cursor: default;
}
.header-logo span{
    letter-spacing: 0.1em;
}
.header-list{
    text-align: left;
    box-sizing: border-box;
}
.header-list li{
    list-style: none;
    float:left;
    padding-left: 2%;
    font-size:1.5em;
    margin: 20px 0;
    line-height: 60px;
}
.header-list a{
    display: inline-block;
    padding: 0 20px;
}
.header-list a:hover{
    position: relative;
    bottom: 4px;
}
.header-list a:active{
    position: relative;
    bottom: 0;
}
.header-bars{
    display: none;
}

main{
    margin-top: 40px;
    margin: 20px 2% 0;
    padding: 20px 2%;
}
.title{
    width:100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.title h1{
    margin: 0;
    padding-left: 50px;
    font-size: 3.0em;
    letter-spacing: 0.5em;
    line-height: 80px;
    font-weight: 700;
}
.information{
    width: 100%;
    border-radius: 10px;
}
.information p{
    text-align: center;
    font-size: 1.5em;
    line-height: 2.0em;
    padding: 20px 0 0;
}
.inf-list{
    margin: 0 5%;
    border-radius: 5px;
}
.inf-list h2{
    font-size: 2.0em;
    font-weight: 500;
    margin: 3px 2% 0;
    padding-left: 0.5em;
}
.inf-list ul{
    font-size: 1.2em;
}
.url-list{
    height: 300px;
    padding: 0 20px;
}
.url-list li{
    list-style: none;
    display: inline-block;
    width: 24.5%;
    text-align: center;
}
.pic-1 img{
    width: 200px;
    height: 100%;
    margin-bottom: 80px;
}
.pic-2 img{
    width: 200px;
    height: 80%;
    margin-bottom: 50px;
}
.pic-3 img{
    width: 200px;
    height: 60%;
}
.pic-4 img{
    width: 200px;
    height: 60%;
}

footer{
    margin-top: 40px;
    height: 200px;
}
.footer-profile{
    float: left;
    width: 600px;
    padding: 20px;
    margin: 30px 10px 0;
}
.footer-profile img{
    float: left;
    padding-right: 10px;
    margin-right: 10px;
}
.footer-profile div{
    margin: 10px;
}
.footer-profile li{
    list-style:  none;
}

/*タブレット向け*/
@media(max-width: 1000px){
    .karada{
        /*background-color: rgb(156, 218, 150);*/
        padding:0;
    }
    .header-logo{
        margin-right: 0;
    }
    .header-list{
        display: none;
    }
    .header-bars{
        display: inline-block;
        float: right;
        margin-top: 15px;
        margin-right: 5%;
        text-align: right;
    }
    .header-bars ul{
        padding: 0;
    }
    .header-bars li{
        list-style: none;
        line-height: 2.0em;
    }
    .title h1{
        font-size: 2.0em;
        letter-spacing: 0.3em;
        line-height: 50px;
    }
    .information p{
        font-size: 1em;
        margin: 0 20px;
        text-align: left;
    }
    .inf-list h2{
        font-size: 1.5em;
    }
    .inf-list ul{
        font-size: 1.0em;
    }
    .min p{
        text-align: center;
        font-size: 1.5em;
    }
    .url-list{
        height: 500px;
    }
    .url-list li{
        width: 45%;
    }
}

/*スマホ向け*/
@media(max-width: 670px){
    .sumaho{
        display: none;
    }
    
    .karada{
        /*background-color: rgb(241, 154, 154);*/
    }
    .header-logo{
        font-size: 20px;
    }

    .title h1{
        padding-left: 10px;
        letter-spacing: 0;
    }
    .url-list{
        height: 700px;
    }
    .url-list li{
        width: 99%;
    }
    .pic-1{
        margin: 40px 0 0;
    }
    .nil{
        display: none;
    }

    footer{
        height: 300px;
        padding: 10px 1%;
    }
    .footer-profile{
        float: center;
        width: 300px;
        margin: 30px auto 0;
        padding: 10 0;
    }
    .footer-profile img{
        float: none;
        border-right: none;
    }
    .footer-profile div{
        margin: 0;
    }
    .footer-profile li{
        list-style:  none;
    }
    
}